/* Home.css */
.btn-toolbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-button i {
    margin-right: 8px;
}
.red-text {
    color: red;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}
/* CSS for the buttons in the actions-list */
.icon-button {
    width: 210px;
    border: 0.1px solid grey; /* 边框宽度，可以根据需要进行调整 */
    border-radius: 4px; /* 边框弧度，可以根据需要进行调整 */
    padding: 10px; /* 按钮内边距，可以根据需要进行调整 */
    margin: 5px; /* 按钮之间的外边距，可以根据需要进行调整 */
    background-color: rgb(230, 229, 229); /* 按钮背景颜色 */
    cursor: pointer; /* 鼠标悬停时显示指针光标 */
    text-align: left; /* 文本左对齐 */
    font: size 1px;
    display: left; /* 让图标和文本水平排列 */
    align-items: left; /* 垂直居中按钮内容 */
}

/* Hover effect */
.icon-button:hover {
    background-color: #f0f0f0; /* 悬停时的背景颜色 */
}
